@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-bottom: 1px;
    font-family: 'Texturina', serif;
}

h2 {
    text-align: center;
    font-family: 'Texturina', serif;
}

h4 {
    font-family: 'Crimson Text', serif;
}

h5 {
    font-family: 'Crimson Text', serif;
}

.article {
    position: absolute;
    margin-right: 7vw;
    display: inline-block;
    text-align: left;
    word-break: break-word;
    padding-top: 3vh;
    padding-left: 5vw;
    border-left: 2px solid black;
    font-family: 'Crimson Text', serif;
}

.archive {
    position: absolute;
    z-index: -1;
}

@media screen and (min-width: 320px) {
    .article {
        font-size: 5vw;
    }
    .wearymuser {
        font-size: 10vw;
    }
    .article-title {
        font-size: 8vw
    }
    .search {
        font-size: 5vw;
    }

    .search::placeholder {
        font-size: 5vw;
    }
}

@media screen and (min-width: 455px) {
    .article {
        font-size: 4vw;
    }
    .wearymuser {
        font-size: 8vw;
    }
    .article-title {
        font-size: 6vw
    }
    .topnav {
        font-size: 4vw;
    }
    .search {
        font-size: 4vw;
    }
    .search::placeholder {
        font-size: 4vw;
    }
}


@media screen and (min-width: 590px) {
    .article {
        font-size: 3vw;
    }
    .wearymuser {
        font-size: 6vw;
    }
    .article-title {
        font-size: 4vw
    }
    .botnav {
        font-size: 3vw;
    }
    .topnav {
        font-size: 3vw;
    }
    .search {
        font-size: 3vw;
    }
    .search::placeholder {
        font-size: 3vw;
    }
}

@media screen and (min-width: 992px) {
    .article {
        font-size: 2vw;
    }
    .botnav {
        font-size: 2vw;
    }
    .topnav {
        font-size: 2vw;
    }
    .search {
        font-size: 2vw;
    }
    .search::placeholder {
        font-size: 2vw;
    }
    .fa-2x {
        font-size: 3vw;
    }
}

.botnav {
    margin-top: 8px;
}

.btn {
    border-radius: 0;
    padding: 1vw;
}

.btn:focus {
    box-shadow: none;
}

.container {
    max-width: 95vw;
    margin: 0;
    padding: 0;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
    color: white;
}

.jumbotron {
    padding: 0;
    margin: 0;
    background-color: #c4c4c4;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: 0;
    font-family: 'Crimson Text', serif;
  }

  input::placeholder {
    font-family: 'Crimson Text', serif;
  }

  .modal-header {
      font-family: 'Texturina', serif;
      border-radius: 0;
  }

.share {
    display: inline-block;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-left: 4vw;
    padding-bottom: 0;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    margin-left: 5px;
    padding: 0 20px 0;
}

.nav-link {
      color: black;
}

.search::placeholder {
    color: white;
}

.thedivider {
    border-bottom: 2px solid black;
    margin-left: 3vw;
    animation: slideMeRight .75s ease-in;
}

@keyframes slideMeRight{
    0%{
        transform: skewX(0deg) translateX(-500px);
        opacity: .25;
    }
    100%{
        transform: skew(0deg);
        opacity: 1;
    }
}

.topnav {
    padding-top: 1vh;
    z-index: 10;
}
