@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
a {
    color: black;
    text-decoration: none;
}

.archive div {
    position: relative;
    z-index: 3000;
    opacity: .7;
    background-color: #343a40;
}

.archive a {
    margin-right: 3vw;
}

.article-title {
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 3vh;
    animation: fadeMeDown 1.5s ease-in;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: black;
    text-decoration: none;
    background-color: #c4c4c4;
  }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #343a40;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    opacity: .85;
  }

h1 {
    text-align: center;
    padding-bottom: 1px;
    font-family: 'Cinzel Decorative', cursive;
}

h2 {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

h4 {
    font-family: 'Crimson Text', serif;
}

h5 {
    font-family: 'Crimson Text', serif;
}

.article {
    position: relative;
    margin-right: 1vw;
    margin-left: 7vw;
    display: inline-block;
    text-align: left;
    word-break: break-word;
    padding-left: 3vw;
    border-left: 2px solid black;
    font-family: 'Crimson Text', serif;
}

@media screen and (min-width: 320px) {
    .article {
        font-size: 5vw;
        margin-left: 11vw;
    }
    .wearymuser {
        font-size: 10vw;
    }
    .article-title {
        font-size: 8vw
    }
    .botnav {
        font-size: 6vw;
    }
    .fa-arrow-up {
        font-size: 1.33em;
    }
    .firstletta {
        padding-right: 7%;
    }
    .search {
        font-size: 5vw;
        margin-left: 30vw;
    }
    .sub {
        margin-left: 60vw;
    }
    .search::placeholder {
        font-size: 5vw;
    }
    .share {
        font-size: 4vw;
    }
    .sift {
        font-size: 8vw;

    }
}

@media screen and (min-width: 455px) {
    .article {
        font-size: 4vw;
        margin-left: 10vw;
    }
    .wearymuser {
        font-size: 8vw;
    }
    .article-title {
        font-size: 6vw
    }
    .botnav {
        font-size: 5vw;
    }
    .fa-arrow-up {
        font-size: 2em;
    }
    .firstletta {
        padding-right: 6%;
    }
    .topnav {
        font-size: 5vw;
    }
    .search {
        font-size: 3vw;
        margin-left: 0;
    }
    .sub {
        margin-left: 0;
    }
    .search::placeholder {
        font-size: 4vw;
    }
    .share {
        font-size: 3vw;
    }
    .sift {
        font-size: 6vw;
        
    }
}


@media screen and (min-width: 576px) {
    .article {
        font-size: 3vw;
        margin-left: 8vw;
    }
    .wearymuser {
        font-size: 7vw;
    }
    .article-title {
        font-size: 5vw
    }
    .botnav {
        font-size: 4vw;
    }
    .firstletta {
        padding-right: 4%;
    }
    .share {
        font-size: 2vw;
    }
}

@media screen and (min-width: 992px) {
    .article {
        font-size: 2vw;
        margin-left: 7vw;
    }
    .botnav {
        font-size: 2vw;
    }
    .firstletta {
        padding-right: 3%;
    }
    .topnav {
        font-size: 3vw;
    }
    .search {
        font-size: 2vw;
    }
    .search::placeholder {
        font-size: 2vw;
    }
    .fa-2x {
        font-size: 3vw;
    }
    .sift {
        font-size: 4vw;
    }
}

.botnav {
    margin-top: 8px;
    font-family: 'Crimson Text', serif;
}

.btn {
    border-radius: 0;
    padding: 1vw;
}

.btn:focus {
    box-shadow: none;
}

.container {
    max-width: 95vw;
    margin: 0;
    padding: 0;
}

.fa-arrow-up {
    border-bottom: 2px solid black;
    margin: 0;
}

.firstletta {
    font-size: 2em;
    font-family: 'Cinzel Decorative', cursive;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
    color: white;
}

.jumbotron {
    padding: 0;
    margin: 0;
    background-color: #c4c4c4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: 0;
    font-family: 'Crimson Text', serif;
  }

  input::placeholder {
    font-family: 'Crimson Text', serif;
  }

  .modal-header {
    font-family: 'Cinzel Decorative', cursive;
      border-radius: 0;
  }

.share {
    position: absolute;
    margin-top: 3vh;
    margin-left: 3vw;
    padding-right: 0;
}

.sift {
    position: relative;
    z-index: 1;
    margin: 1vh 3vw;
    font-family: 'Cinzel Decorative', cursive;
}

.fa-share-square-o {
    position: relative;
    z-index: 99;
}

a:hover {
    text-decoration: none;
    color: black;
}

nav {
    animation: slideMeRight .75s ease-in;
}

.navbar-toggler {
    margin-left: 5px;
    padding: 0 20px 0;
}

.nav-link {
      color: black;
}

.search::placeholder {
    color: white;
}

.thedivider {
    padding: 0;
    margin-left: 1vw;
    margin-right: 5vw;
    border-bottom: 2px solid black;
    animation: slideMeRight .75s ease-in;
}

@keyframes slideMeRight{
    0%{
        transform: translateX(-500px);
        opacity: .25;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeMeDown{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.topnav {
    padding-top: 1vh;
}

.wearymuser {
    padding-bottom: 1vmax;
}
